OpenTrac/Documentation/ReceivedInfo/NSBSTest/NSBSTest/configuration/messageTemplates/olddir/Dynamics/ToDynamics/full RMTransaction.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eConnect" type="eConnectType" />
  <xs:complexType name="eConnectType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RMTransactionType" type="RMTransactionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RMTransactionType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="eConnectProcessInfo" nillable="true" type="eConnectProcessInfo" />
      <xs:element minOccurs="0" maxOccurs="1" name="taUpdateCreateCustomerRcd" nillable="true" type="taUpdateCreateCustomerRcd" />
      <xs:element minOccurs="0" maxOccurs="1" name="taCreateCustomerAddress_Items" nillable="true" type="taCreateCustomerAddress_Items" />
      <xs:element minOccurs="0" maxOccurs="1" name="taRMCommissions_Items" nillable="true" type="taRMCommissions_Items" />
      <xs:element minOccurs="0" maxOccurs="1" name="taRMTransactionTaxInsert_Items" nillable="true" type="taRMTransactionTaxInsert_Items" />
      <xs:element minOccurs="0" maxOccurs="1" name="taRMDistribution_Items" nillable="true" type="taRMDistribution_Items" />
      <xs:element minOccurs="1" maxOccurs="1" name="taRMTransaction" nillable="true" type="taRMTransaction" />
      <xs:element minOccurs="0" maxOccurs="1" name="taMdaUpdate_Items" nillable="true" type="taMdaUpdate_Items" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eConnectProcessInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ConnectionString" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProductName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Sender" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Outgoing" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="eConnectProcsRunFirst" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="MessageID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SiteID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DocumentName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Version" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DateTimeStamp1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DateTimeStamp2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DateTimeStamp3" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DateTimeStamp4" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DateTimeStamp5" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Userdef1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Userdef2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Userdef3" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Userdef4" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Userdef5" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProcReturnCode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="taUpdateCreateCustomerRcd">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="CUSTNMBR" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="HOLD" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" name="INACTIVE" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="CUSTNAME" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="SHRTNAME" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="STMTNAME" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="CUSTCLAS" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CUSTPRIORITY" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="ADRSCODE" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="CNTCPRSN" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="ADDRESS1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="ADDRESS2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="ADDRESS3" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="CITY" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="STATE" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="ZIPCODE" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="CCode" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="COUNTRY" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="PHNUMBR1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="PHNUMBR2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="PHNUMBR3" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="FAX" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="UPSZONE" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="SHIPMTHD" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="TAXSCHID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SHIPCOMPLETE" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="PRSTADCD" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="PRBTADCD" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="STADDRCD" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="SLPRSNID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="SALSTERR" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="USERDEF1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="USERDEF2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="COMMENT1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="COMMENT2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="CUSTDISC" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="PYMTRMID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DISGRPER" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" name="DUEGRPER" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="PRCLEVEL" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="NOTETEXT" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BALNCTYP" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" name="FNCHATYP" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" name="FNCHPCNT" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="FINCHDLR" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="MINPYTYP" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" name="MINPYPCT" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="MINPYDLR" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="CRLMTTYP" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" name="CRLMTAMT" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="CRLMTPER" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" name="CRLMTPAM" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="MXWOFTYP" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" name="MXWROFAM" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Revalue_Customer" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" name="Post_Results_To" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" name="ORDERFULFILLDEFAULT" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" name="INCLUDEINDP" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="CRCARDID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="CRCRDNUM" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="CCRDXPDT" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="BANKNAME" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="BNKBRNCH" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="USERLANG" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="TAXEXMT1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="TAXEXMT2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="TXRGNNUM" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="CURNCYID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="RATETPID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="STMTCYCL" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" name="KPCALHST" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" name="KPERHIST" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" name="KPTRXHST" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" name="KPDSTHST" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" name="Send_Email_Statements" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="ToEmail_Recipient" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="CcEmail_Recipient" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="BccEmail_Recipient" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="CHEKBKID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DEFCACTY" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="RMCSHACTNUMST" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="RMARACTNUMST" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="RMSLSACTNUMST" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="RMCOSACTNUMST" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="RMIVACTNUMST" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="RMTAKACTNUMST" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="RMAVACTNUMST" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="RMFCGACTNUMST" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="RMWRACTNUMST" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="RMSORACTNUMST" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="RMOvrpymtWrtoffACTNUMST" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="GPSFOINTEGRATIONID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="0" name="INTEGRATIONSOURCE" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="INTEGRATIONID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="0" name="UseCustomerClass" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" default="1" name="CreateAddress" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" default="1" name="UpdateIfExists" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" default="0" name="RequesterTrx" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND3" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND4" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND5" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="taCreateCustomerAddress_Items">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="taCreateCustomerAddress" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="CUSTNMBR" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="ADRSCODE" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="SLPRSNID" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="UPSZONE" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="SHIPMTHD" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="TAXSCHID" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="CNTCPRSN" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="ADDRESS1" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="ADDRESS2" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="ADDRESS3" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="COUNTRY" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="CITY" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="STATE" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="ZIPCODE" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="PHNUMBR1" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="PHNUMBR2" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="PHNUMBR3" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="FAX" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="GPSFOINTEGRATIONID" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="0" name="INTEGRATIONSOURCE" type="xs:short" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="INTEGRATIONID" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="CCode" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="LOCNCODE" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="SALSTERR" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="USERDEF1" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="USERDEF2" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="0" name="RequesterTrx" type="xs:short" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND1" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND2" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND3" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND4" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND5" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="taRMCommissions_Items">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="taRMCommissions" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="RMDTYPAL" type="xs:short" />
            <xs:element minOccurs="1" maxOccurs="1" name="DOCNUMBR" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="0" name="SEQNUMBR" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="CUSTNMBR" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="SLPRSNID" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="SALSTERR" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="0" name="COMPRCNT" type="xs:decimal" />
            <xs:element minOccurs="0" maxOccurs="1" default="0" name="COMDLRAM" type="xs:decimal" />
            <xs:element minOccurs="1" maxOccurs="1" name="DOCAMNT" type="xs:decimal" />
            <xs:element minOccurs="0" maxOccurs="1" default="100.00" name="PRCTOSAL" type="xs:decimal" />
            <xs:element minOccurs="0" maxOccurs="1" default="0" name="RequesterTrx" type="xs:short" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND1" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND2" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND3" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND4" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND5" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="taRMTransactionTaxInsert_Items">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="taRMTransactionTaxInsert" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="CUSTNMBR" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="DOCNUMBR" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="RMDTYPAL" type="xs:short" />
            <xs:element minOccurs="1" maxOccurs="1" name="BACHNUMB" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="TAXDTLID" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="TAXAMNT" type="xs:decimal" />
            <xs:element minOccurs="1" maxOccurs="1" name="STAXAMNT" type="xs:decimal" />
            <xs:element minOccurs="0" maxOccurs="1" default="0" name="FRTTXAMT" type="xs:decimal" />
            <xs:element minOccurs="0" maxOccurs="1" default="0" name="MSCTXAMT" type="xs:decimal" />
            <xs:element minOccurs="1" maxOccurs="1" name="TAXDTSLS" type="xs:decimal" />
            <xs:element minOccurs="0" maxOccurs="1" default="0" name="SEQNUMBR" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" default="0" name="ACTINDX" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="ACTNUMST" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="TDTTXSLS" type="xs:decimal" />
            <xs:element minOccurs="0" maxOccurs="1" default="0" name="RequesterTrx" type="xs:short" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND1" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND2" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND3" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND4" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND5" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="taRMDistribution_Items">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="taRMDistribution" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="RMDTYPAL" type="xs:short" />
            <xs:element minOccurs="1" maxOccurs="1" name="DOCNUMBR" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="CUSTNMBR" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="0" name="SEQNUMBR" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="DISTTYPE" type="xs:short" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="DistRef" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="0" name="DSTINDX" type="xs:int" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="ACTNUMST" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="0" name="DEBITAMT" type="xs:decimal" />
            <xs:element minOccurs="0" maxOccurs="1" default="0" name="CRDTAMNT" type="xs:decimal" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND1" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND2" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND3" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND4" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND5" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="taRMTransaction">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="RMDTYPAL" type="xs:short" />
      <xs:element minOccurs="1" maxOccurs="1" name="DOCNUMBR" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="DOCDATE" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="BACHNUMB" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="CUSTNMBR" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="DOCAMNT" type="xs:decimal" />
      <xs:element minOccurs="1" maxOccurs="1" name="SLSAMNT" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="DOCDESCR" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="ADRSCODE" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="SLPRSNID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="SALSTERR" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="SHIPMTHD" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="TAXSCHID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="CSTPONBR" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="0" name="COSTAMNT" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" default="0" name="TRDISAMT" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" default="0" name="TRDDISCT" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" default="0" name="FRTAMNT" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" default="0" name="MISCAMNT" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" default="0" name="TAXAMNT" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" default="0" name="BKTSLSAM" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" default="0" name="BKTFRTAM" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" default="0" name="BKTMSCAM" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" default="0" name="CASHAMNT" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="CBKIDCSH" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="CASHDATE" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="DCNUMCSH" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="0" name="CHEKAMNT" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="CBKIDCHK" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="CBKIDCRD" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="CHEKNMBR" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="CHEKDATE" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="DCNUMCHK" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="0" name="CRCRDAMT" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="CRCRDNAM" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="RCTNCCRD" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="CRCARDDT" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="DCNUMCRD" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="0" name="DISCRTND" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" default="0" name="DISTKNAM" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" default="0" name="DISAVTKN" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" default="0" name="WROFAMNT" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" default="0" name="PPSAMDED" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" default="0" name="GSTDSAMT" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="PYMTRMID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DISAVAMT" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="DSCDLRAM" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="DSCPCTAM" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="LSTUSRED" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="PTDUSRID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="DistRef" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="BatchCHEKBKID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="DUEDATE" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="DISCDATE" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="CURNCYID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="0" name="XCHGRATE" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="RATETPID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="EXPNDATE" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="EXCHDATE" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="EXGTBDSC" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="EXTBLSRC" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="-1" name="RATEEXPR" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" default="-1" name="DYSTINCR" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" default="0" name="RATEVARC" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" default="-1" name="TRXDTDEF" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" default="-1" name="RTCLCMTD" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" default="0" name="PRVDSLMT" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" default="0" name="DATELMTS" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="TIME1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="COMDLRAM" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="COMAPPTO" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" default="0" name="RequesterTrx" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" default="1" name="CREATEDIST" type="xs:short" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND1" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND2" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND3" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND4" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" default="" name="USRDEFND5" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="taMdaUpdate_Items">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="taMdaUpdate" nillable="true">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="DTASERIES" type="xs:short" />
            <xs:element minOccurs="1" maxOccurs="1" name="ACTINDX" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="SEQNUMBR" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="DTAREF" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="DTAQNTY" type="xs:decimal" />
            <xs:element minOccurs="1" maxOccurs="1" name="GROUPID" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="CODEID" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" default="" name="POSTDESC" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>